/* styles.css */
/* styles.css */
.body{
    text-align: center;
    background-color: 	#FF0000

} 
.hex-colorido {
background-color: #FFFF00;
color: #FF0000
}
.hex-coloridonetflix {
background-color: #000000;
color: #FF0000
}
   