/* styles.css */
/* styles.css */
.body{
    text-align: center;
    background-color: 	#df5353
} 
h1{
    color:#FFFF00;
    background-color: #000000 ;
    text-align: center;
    margin-top:20px;
}


.hex-colorido{
background-color: #FFFF00;
color: #FF0000
}

bodynetflix{
    text-align: center;
    background-color:#000000

}
.hex-coloridonetflix {
background-color: #000000;
color: #FF0000
}
.bodypizzaria{
    text-align: center;
    background-color:#ffff

}
.hex-coloridopizzaria {
background-color: #f3cf05;
text-align: center;
margin-top:20px;
font: 18px;
color: #FF0000;
}
.hex-coloridoex6 {
    background-color: #FFFF00;
    color: #0000
    text-align: center;
     margin-top : 20px;
    }
    h2{
        font: 20px; 
        text-align: center;

    }

   