.body{
    text-align: center;
    background-color: 	#ffff
} 
h1{
    color:#FFFF;
    background-color: #000000 ;
    margin-top:20px;
}


.hex-colorido{
background-color: #FFFF00;
color: #FF0000
}

bodynetflix{
    text-align: center;
    background-color:#000000

}
.hex-coloridonetflix {
background-color: #000000;
color: #FF0000
}
.bodypizzaria{
    text-align: center;
    background-color:#ffff

}
.hex-coloridopizzaria {
background-color: #f3cf05;
text-align: center;
margin-top:20px;
font: 18px;
color: #FF0000;
}
.hex-coloridoex12 {
    background-color: #FF0000;
    color: #ffff00
    text-align: center;
     padding : 10px;
     margin-bottom:10px;
    }

    


    
    

    